# Data Preprocessing

Import libraries and dataframe

In [ ]:
%pylab inline
#pip install scikit-learn

Populating the interactive namespace from numpy and matplotlib

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS

/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS

In [ ]:
import numpy as np
import pandas as pd

url = 'https://drive.google.com/file/d/1NZ4GLRy0Laf9GKPJPW2niU9wjbv_Byyu/view?usp=drive_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/raw_data.csv', index=False)

Raw Data

In [ ]:
print(df.head(10))

                        Name Platform  Year_of_Release         Genre  \
0                 Wii Sports      Wii           2006.0        Sports
1          Super Mario Bros.      NES           1985.0      Platform
2             Mario Kart Wii      Wii           2008.0        Racing
3          Wii Sports Resort      Wii           2009.0        Sports
4   Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
5                     Tetris       GB           1989.0        Puzzle
6      New Super Mario Bros.       DS           2006.0      Platform
7                   Wii Play      Wii           2006.0          Misc
8  New Super Mario Bros. Wii      Wii           2009.0      Platform
9                  Duck Hunt      NES           1984.0       Shooter

  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0  Nintendo     41.36     28.96      3.77         8.45         82.53
1  Nintendo     29.08      3.58      6.81         0.77         40.24
2  Nintendo     15.68     12.76      3.79         3.29         35.52
3  Nintendo     15.61     10.93      3.28         2.95         32.77
4  Nintendo     11.27      8.89     10.22         1.00         31.37
5  Nintendo     23.20      2.26      4.22         0.58         30.26
6  Nintendo     11.28      9.14      6.50         2.88         29.80
7  Nintendo     13.96      9.18      2.93         2.84         28.92
8  Nintendo     14.44      6.94      4.70         2.24         28.32
9  Nintendo     26.93      0.63      0.28         0.47         28.31

   Critic_Score  Critic_Count User_Score  User_Count Developer Rating
0          76.0          51.0          8       322.0  Nintendo      E
1           NaN           NaN        NaN         NaN       NaN    NaN
2          82.0          73.0        8.3       709.0  Nintendo      E
3          80.0          73.0          8       192.0  Nintendo      E
4           NaN           NaN        NaN         NaN       NaN    NaN
5           NaN           NaN        NaN         NaN       NaN    NaN
6          89.0          65.0        8.5       431.0  Nintendo      E
7          58.0          41.0        6.6       129.0  Nintendo      E
8          87.0          80.0        8.4       594.0  Nintendo      E
9           NaN           NaN        NaN         NaN       NaN    NaN

Get data rows that have no null values

In [ ]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [ ]:
has_null = [row.isnull().any() for _, row in df.iterrows()]
no_null = [not c for c in has_null]
print(df[has_null].describe())
print(df[no_null].describe())

       Year_of_Release     NA_Sales     EU_Sales     JP_Sales  Other_Sales  \
count      9625.000000  9894.000000  9894.000000  9894.000000  9894.000000
mean       2005.814130     0.172859     0.082207     0.086876     0.022950
std           6.738375     0.672903     0.304141     0.322349     0.084953
min        1980.000000     0.000000     0.000000     0.000000     0.000000
25%        2002.000000     0.000000     0.000000     0.000000     0.000000
50%        2008.000000     0.030000     0.000000     0.000000     0.000000
75%        2010.000000     0.140000     0.050000     0.050000     0.020000
max        2020.000000    29.080000    10.950000    10.220000     2.740000

       Global_Sales  Critic_Score  Critic_Count   User_Count
count   9894.000000   1312.000000   1312.000000   765.000000
mean       0.365196     62.182165     12.990091    50.777778
std        1.149139     12.229357      9.938363   182.626748
min        0.010000     22.000000      4.000000     4.000000
25%        0.040000     54.000000      6.000000     6.000000
50%        0.110000     63.000000     10.000000    11.000000
75%        0.310000     70.000000     16.000000    29.000000
max       40.240000     94.000000     84.000000  3552.000000
       Year_of_Release     NA_Sales     EU_Sales     JP_Sales  Other_Sales  \
count      6825.000000  6825.000000  6825.000000  6825.000000  6825.000000
mean       2007.436777     0.394484     0.236089     0.064158     0.082677
std           4.211248     0.967385     0.687330     0.287570     0.269871
min        1985.000000     0.000000     0.000000     0.000000     0.000000
25%        2004.000000     0.060000     0.020000     0.000000     0.010000
50%        2007.000000     0.150000     0.060000     0.000000     0.020000
75%        2011.000000     0.390000     0.210000     0.010000     0.070000
max        2016.000000    41.360000    28.960000     6.500000    10.570000

       Global_Sales  Critic_Score  Critic_Count    User_Count
count   6825.000000   6825.000000   6825.000000   6825.000000
mean       0.777590     70.272088     28.931136    174.722344
std        1.963443     13.868572     19.224165    587.428538
min        0.010000     13.000000      3.000000      4.000000
25%        0.110000     62.000000     14.000000     11.000000
50%        0.290000     72.000000     25.000000     27.000000
75%        0.750000     80.000000     39.000000     89.000000
max       82.530000     98.000000    113.000000  10665.000000

Create new columns for Highest and Lowest Regions

In [ ]:
region = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
def find_highest_lowest(row):
  low = None
  high = None
  for reg in region:
    if low == None:
      low = (row[reg], reg)
    if low[0] > row[reg]:
      low = (row[reg], reg)
    if high == None:
      high = (row[reg], reg)
    if high[0] < row[reg]:
      high = (row[reg], reg)

  return pd.Series({'highest': high[1], 'lowest': low[1]})

# Apply the function row-wise to the DataFrame and store the results in new columns
df[['highest', 'lowest']] = df.apply(find_highest_lowest, axis=1)
df = df.drop(['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Name'], axis = 1)

In [ ]:
print(df.head(10))

  Platform  Year_of_Release         Genre Publisher  Global_Sales  \
0      Wii           2006.0        Sports  Nintendo         82.53
1      NES           1985.0      Platform  Nintendo         40.24
2      Wii           2008.0        Racing  Nintendo         35.52
3      Wii           2009.0        Sports  Nintendo         32.77
4       GB           1996.0  Role-Playing  Nintendo         31.37
5       GB           1989.0        Puzzle  Nintendo         30.26
6       DS           2006.0      Platform  Nintendo         29.80
7      Wii           2006.0          Misc  Nintendo         28.92
8      Wii           2009.0      Platform  Nintendo         28.32
9      NES           1984.0       Shooter  Nintendo         28.31

   Critic_Score  Critic_Count User_Score  User_Count Developer Rating  \
0          76.0          51.0          8       322.0  Nintendo      E
1           NaN           NaN        NaN         NaN       NaN    NaN
2          82.0          73.0        8.3       709.0  Nintendo      E
3          80.0          73.0          8       192.0  Nintendo      E
4           NaN           NaN        NaN         NaN       NaN    NaN
5           NaN           NaN        NaN         NaN       NaN    NaN
6          89.0          65.0        8.5       431.0  Nintendo      E
7          58.0          41.0        6.6       129.0  Nintendo      E
8          87.0          80.0        8.4       594.0  Nintendo      E
9           NaN           NaN        NaN         NaN       NaN    NaN

    highest       lowest
0  NA_Sales     JP_Sales
1  NA_Sales  Other_Sales
2  NA_Sales  Other_Sales
3  NA_Sales  Other_Sales
4  NA_Sales  Other_Sales
5  NA_Sales  Other_Sales
6  NA_Sales  Other_Sales
7  NA_Sales  Other_Sales
8  NA_Sales  Other_Sales
9  NA_Sales     JP_Sales

One-Hot Encoding of Categorical Values

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
encoder = OneHotEncoder()

categories = ['Platform',	'Year_of_Release',	'Genre',	'Publisher',	'Developer',	'Rating']
targets = ['highest', 'lowest']

# Perform one-hot encoding
encoded_array = encoder.fit_transform(df[categories]).toarray()

# Create a DataFrame from the encoded array
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(categories))

# Concatenate the original DataFrame with the encoded DataFrame
# df2 for HistGradientBoostingClassifier, has null values
df2 = pd.concat([df, encoded_df], axis=1)

# Convert string values to NaN
df2['User_Score'] = pd.to_numeric(df2['User_Score'], errors='coerce')

df2 = df2.drop(categories, axis = 1)

# df1 for MLPClassifier, has no null values
df1 = df2[no_null]

print("Original DataFrame:")
print(df,"\n")
print("\nOne-hot encoded DataFrame for DecisionTreeClassifier and MLPClassifier:")
print(df1,"\n")
print("\nOne-hot encoded DataFrame for HistGradientBoostingClassifier:")
print(df2)

Original DataFrame:
      Platform  Year_of_Release         Genre     Publisher  Global_Sales  \
0          Wii           2006.0        Sports      Nintendo         82.53
1          NES           1985.0      Platform      Nintendo         40.24
2          Wii           2008.0        Racing      Nintendo         35.52
3          Wii           2009.0        Sports      Nintendo         32.77
4           GB           1996.0  Role-Playing      Nintendo         31.37
...        ...              ...           ...           ...           ...
16714      PS3           2016.0        Action    Tecmo Koei          0.01
16715     X360           2006.0        Sports   Codemasters          0.01
16716      PSV           2016.0     Adventure  Idea Factory          0.01
16717      GBA           2003.0      Platform       Wanadoo          0.01
16718      PSV           2016.0    Simulation    Tecmo Koei          0.01

       Critic_Score  Critic_Count User_Score  User_Count Developer Rating  \
0              76.0          51.0          8       322.0  Nintendo      E
1               NaN           NaN        NaN         NaN       NaN    NaN
2              82.0          73.0        8.3       709.0  Nintendo      E
3              80.0          73.0          8       192.0  Nintendo      E
4               NaN           NaN        NaN         NaN       NaN    NaN
...             ...           ...        ...         ...       ...    ...
16714           NaN           NaN        NaN         NaN       NaN    NaN
16715           NaN           NaN        NaN         NaN       NaN    NaN
16716           NaN           NaN        NaN         NaN       NaN    NaN
16717           NaN           NaN        NaN         NaN       NaN    NaN
16718           NaN           NaN        NaN         NaN       NaN    NaN

        highest       lowest
0      NA_Sales     JP_Sales
1      NA_Sales  Other_Sales
2      NA_Sales  Other_Sales
3      NA_Sales  Other_Sales
4      NA_Sales  Other_Sales
...         ...          ...
16714  JP_Sales     NA_Sales
16715  EU_Sales     NA_Sales
16716  JP_Sales     NA_Sales
16717  NA_Sales     EU_Sales
16718  JP_Sales     NA_Sales

[16719 rows x 13 columns]


One-hot encoded DataFrame for DecisionTreeClassifier and MLPClassifier:
       Global_Sales  Critic_Score  Critic_Count  User_Score  User_Count  \
0             82.53          76.0          51.0         8.0       322.0
2             35.52          82.0          73.0         8.3       709.0
3             32.77          80.0          73.0         8.0       192.0
6             29.80          89.0          65.0         8.5       431.0
7             28.92          58.0          41.0         6.6       129.0
...             ...           ...           ...         ...         ...
16667          0.01          46.0           4.0         2.4        21.0
16677          0.01          81.0          12.0         8.8         9.0
16696          0.01          80.0          20.0         7.6       412.0
16700          0.01          61.0          12.0         5.8        43.0
16706          0.01          60.0          12.0         7.2        13.0

        highest       lowest  Platform_2600  Platform_3DO  Platform_3DS  ...  \
0      NA_Sales     JP_Sales            0.0           0.0           0.0  ...
2      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
3      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
6      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
7      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
...         ...          ...            ...           ...           ...  ...
16667  NA_Sales     EU_Sales            0.0           0.0           0.0  ...
16677  NA_Sales     EU_Sales            0.0           0.0           0.0  ...
16696  EU_Sales     NA_Sales            0.0           0.0           0.0  ...
16700  NA_Sales     EU_Sales            0.0           0.0           0.0  ...
16706  EU_Sales     NA_Sales            0.0           0.0           0.0  ...

       Developer_nan  Rating_AO  Rating_E  Rating_E10+  Rating_EC  Rating_K-A  \
0                0.0        0.0       1.0          0.0        0.0         0.0
2                0.0        0.0       1.0          0.0        0.0         0.0
3                0.0        0.0       1.0          0.0        0.0         0.0
6                0.0        0.0       1.0          0.0        0.0         0.0
7                0.0        0.0       1.0          0.0        0.0         0.0
...              ...        ...       ...          ...        ...         ...
16667            0.0        0.0       1.0          0.0        0.0         0.0
16677            0.0        0.0       0.0          0.0        0.0         0.0
16696            0.0        0.0       0.0          0.0        0.0         0.0
16700            0.0        0.0       0.0          0.0        0.0         0.0
16706            0.0        0.0       0.0          1.0        0.0         0.0

       Rating_M  Rating_RP  Rating_T  Rating_nan
0           0.0        0.0       0.0         0.0
2           0.0        0.0       0.0         0.0
3           0.0        0.0       0.0         0.0
6           0.0        0.0       0.0         0.0
7           0.0        0.0       0.0         0.0
...         ...        ...       ...         ...
16667       0.0        0.0       0.0         0.0
16677       1.0        0.0       0.0         0.0
16696       1.0        0.0       0.0         0.0
16700       0.0        0.0       1.0         0.0
16706       0.0        0.0       0.0         0.0

[6825 rows x 2379 columns]


One-hot encoded DataFrame for HistGradientBoostingClassifier:
       Global_Sales  Critic_Score  Critic_Count  User_Score  User_Count  \
0             82.53          76.0          51.0         8.0       322.0
1             40.24           NaN           NaN         NaN         NaN
2             35.52          82.0          73.0         8.3       709.0
3             32.77          80.0          73.0         8.0       192.0
4             31.37           NaN           NaN         NaN         NaN
...             ...           ...           ...         ...         ...
16714          0.01           NaN           NaN         NaN         NaN
16715          0.01           NaN           NaN         NaN         NaN
16716          0.01           NaN           NaN         NaN         NaN
16717          0.01           NaN           NaN         NaN         NaN
16718          0.01           NaN           NaN         NaN         NaN

        highest       lowest  Platform_2600  Platform_3DO  Platform_3DS  ...  \
0      NA_Sales     JP_Sales            0.0           0.0           0.0  ...
1      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
2      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
3      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
4      NA_Sales  Other_Sales            0.0           0.0           0.0  ...
...         ...          ...            ...           ...           ...  ...
16714  JP_Sales     NA_Sales            0.0           0.0           0.0  ...
16715  EU_Sales     NA_Sales            0.0           0.0           0.0  ...
16716  JP_Sales     NA_Sales            0.0           0.0           0.0  ...
16717  NA_Sales     EU_Sales            0.0           0.0           0.0  ...
16718  JP_Sales     NA_Sales            0.0           0.0           0.0  ...

       Developer_nan  Rating_AO  Rating_E  Rating_E10+  Rating_EC  Rating_K-A  \
0                0.0        0.0       1.0          0.0        0.0         0.0
1                1.0        0.0       0.0          0.0        0.0         0.0
2                0.0        0.0       1.0          0.0        0.0         0.0
3                0.0        0.0       1.0          0.0        0.0         0.0
4                1.0        0.0       0.0          0.0        0.0         0.0
...              ...        ...       ...          ...        ...         ...
16714            1.0        0.0       0.0          0.0        0.0         0.0
16715            1.0        0.0       0.0          0.0        0.0         0.0
16716            1.0        0.0       0.0          0.0        0.0         0.0
16717            1.0        0.0       0.0          0.0        0.0         0.0
16718            1.0        0.0       0.0          0.0        0.0         0.0

       Rating_M  Rating_RP  Rating_T  Rating_nan
0           0.0        0.0       0.0         0.0
1           0.0        0.0       0.0         1.0
2           0.0        0.0       0.0         0.0
3           0.0        0.0       0.0         0.0
4           0.0        0.0       0.0         1.0
...         ...        ...       ...         ...
16714       0.0        0.0       0.0         1.0
16715       0.0        0.0       0.0         1.0
16716       0.0        0.0       0.0         1.0
16717       0.0        0.0       0.0         1.0
16718       0.0        0.0       0.0         1.0

[16719 rows x 2379 columns]

In [ ]:
#saving preprocessed dataframes
df1.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/processed_noNull.csv', index=False)
df2.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/processed_withNull.csv', index=False)

In [ ]:
from sklearn.model_selection import train_test_split

lo2 = df2['lowest']
hi2 = df2['highest']
X2 = df2.drop(['highest','lowest'], axis=1, inplace=True)

lo1 = df1['lowest']
hi1 = df1['highest']
X1 = df1.drop(['highest','lowest'], axis=1, inplace=True)

#df1 train test split
X1_train, X1_test, lo1_train, lo1_test = train_test_split(df1, lo1, test_size=0.2, random_state=427)
_, _, hi1_train, hi1_test = train_test_split(df1, hi1, test_size=0.2, random_state=427)
#df2 train test split
X2_train, X2_test, lo2_train, lo2_test = train_test_split(df2, lo2, test_size=0.2, random_state=427)
_, _, hi2_train, hi2_test = train_test_split(df2, hi2, test_size=0.2, random_state=427)

X1_train.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/X1_train.csv', index=False)
X1_test.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/X1_test.csv', index=False)
lo1_train.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/lo1_train.csv', index=False)
lo1_test.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/lo1_test.csv', index=False)

hi1_train.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/hi1_train.csv', index=False)
hi1_test.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/hi1_test.csv', index=False)

X2_train.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/X2_train.csv', index=False)
X2_test.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/X2_test.csv', index=False)
lo2_train.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/lo2_train.csv', index=False)
lo2_test.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/lo2_test.csv', index=False)

hi2_train.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/hi2_train.csv', index=False)
hi2_test.to_csv('/content/drive/MyDrive/CS180/Project/CS180_Project_cbragunton_jtderez/DATASETS/hi2_test.csv', index=False)

<ipython-input-40-1eccc2e41bbe>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1 = df1.drop(['highest','lowest'], axis=1, inplace=True)